a {
  color: inherit;
}
.header {
  margin:20px 0;
  font-weight: 700;
  text-align: center;
}
.message {
  text-align: center;
}
.sports {
  width:800px;
  margin:auto;
}
.footer {
  position: fixed;
  text-align: right;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding:5px 0;
}
.footer .stats {
  margin-right: 10px;
}
.footer .contact-me{
  float: left;
  margin-left: 10px;
}